body {
	/*background: url('../img/backgroundColor.png'); */
	background-color: #ECECEC;
}
.navbar-default {
    background-color: #cccccc;
    border-color: #E7E7E7;
}

#login {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

#logForm {
    width: 50%;
    margin: 0 auto;
}

#searchField {
	width: 50%;
	margin: 0 auto;
}

.dropzone {
	border-radius: 4%;
	width: 500px;
	margin: 0 auto;
	height: 300px;
	border: 2px dashed #ccc;
	color: #ccc;
	line-height: 300px;
	text-align: center;
	font-size: 30px;
}

.dropzone.dragover {
	border-color: #000;
	color: #000;
}

#download {
	float: left;
}

#edit {
	float: left;
}

#box {
	float:right;
}

#deleteButton {
	float:right;
}

#addButton {
	float:left;
}

#searchButton {
	float:left;
    width: 7em;
}

#searchDiv {
	margin-top: 60px;
}

#inputFieldsCreate {
	float: right;
}

#createButton {
	float:right;
}

#extraInfo {
	height: 100px;
}

#assignment {
	height: 100px;
}




