{% extends "template.html" %}
{% block content %}

  <div class="container">

    <div class="starter-template">
      <input type="text" class="form-control" class="btn btn-default" placeholder="example 1"/><br>
      <input type="text" class="form-control" class="btn btn-default" placeholder="example 2"/><br>
      <input type="text" class="form-control" class="btn btn-default" placeholder="example 3"/><br>
      <input type="text" class="form-control" class="btn btn-default" placeholder="example 4"/><br>
      <input type="text" class="form-control" class="btn btn-default" placeholder="example 5"/><br>
    </div>

  </div><!-- /.container -->

{% endblock %}
