{% extends "template.html" %}
{% block content %}




<div class="starter-template" id="searchField">
	<h1>Opprett dokument</h1>
	<div id="searchDiv">
		<div class="col-md-6" id="inputFieldsCreate">
			<form action='/createFile' method="POST" class="form-create" id="createForm">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"> <!-- CSRF_TOKEN in text field -->
				<br> 
				<input type="text" class="form-control" id="customerOrGroup" name="group" placeholder="Kunde/Gruppe" value="{{ request.form.group }}"><br>
				<!-- <input type="text" class="form-control" id="dateOfOrder" name="dOfOrder" placeholder="Dato DD.MM.YYYY" value="{{ request.form.dOfOrder }}" required pattern="\d{2}.\d{2}.\d{4}"><br> -->
				<div class='input-group date' id='datepicker'>
					<input type='text' class="form-control" id="dateOfOrder" name="dOfOrder" placeholder="Dato" value="{{ request.form.dOfOrder }}" required pattern="\d{2}.\d{2}.\d{4}"/>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
				<br>				
				<div class="input-group bootstrap-timepicker timepicker">
					<input type="text" class="form-control" id="time" name="time" placeholder="Avreisetid HH.MM" value="{{ request.form.time }}" pattern="\d{2}.\d{2}">					
					<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
				</div> <br> 
				<!--<div class="input-group bootstrap-timepicker timepicker">
					<input type="text" id="time" type="text" class="form-control input-small" id="time" name="title" placeholder="Tid" value="{{ request.form.time }}">
					<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
				</div> -->
				<br>
				<input type="text" class="form-control" id="depPlace" name="depPlace" placeholder="Fremmøte sted" value="{{ request.form.depPlace }}"><br>
				<input type="text" class="form-control" id="nPeople" name="nPeople" placeholder="Antall pers" value="{{ request.form.nPeople }}"><br>
				<textarea type="text" class="form-control" id="assignment" name="assignment" placeholder="Oppdrag" value="{{ request.form.assignment }}"></textarea><br>
				<textarea type="text" class="form-control" id="extraInfo" name="eInfo">Bussen skal møte 15 minutter før avreisetid. </textarea><br>
				<input type="text" class="form-control" id="performedBy" name="pBy" placeholder="Utføres av" value="{{ request.form.pBy }}"><br>
				<input type="text" class="form-control" id="mobileNr" name="mobileNr" placeholder="Mobil" value="{{ request.form.date2 }}"><br>
				<input type="text" class="form-control" id="price" name="price" placeholder="Pris" value="{{ request.form.date2 }}" ><br>
				<input class="btn btn-primary btn-file" id="createButton" type="submit" value=Opprett>
				<br>
			</div>
			<br>

		</form>

		<div class="col-md-6">

			<p class="text-left"><strong>INFO: </strong>Opprett et nytt dokument ved å fylle inn feltene. </p><p class="text-left"><strong>Obs:</strong> Den nye orderen vil få navn basert på kunde/gruppe og order id, f.eks. Scandic-1001.</p><p class="text-left"> <strong>Husk! </strong>fyll inn dato på formatet DD.MM.YYY, og tidspunkt på formatet HH.MM.
		</div>
	</div>
</div>

{% endblock %}







