{% extends "template.html" %}
{% block content %}

{% if listOfFiles > 0 %}
<div class="container">
	<div class="starter-template">
		<form action='/uploadedfiles' method="POST" class="form-delete" id="deleteForm">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"> <!-- CSRF_TOKEN in text field -->
			<div class="col-md-6" id="searchSizer">
			<input type="text" class="form-control" id="searchBox" placeholder="Søk på gruppe navn eller ordre nr."><br>
		</div>
		
			<div id="sheets">
				<table id="table1" class="table">
					<thread>
						<tr>
							<th>Filnavn</th>
							<th>Endre fil</th>
							<th>Last ned</th>
						</tr>
							<tbody>
								{% for file in listOfFiles %}
								<tr><td class="text-left"> {{ file }}</td><td><a href="{{ url_for('edit', file=file) }}" id="edit">Endre</a></td><td><a href="{{ url_for('download', file=file) }}" id="download" name="{{ file }}" method="POST">Last ned</a><input type="checkbox" id="box" name="{{ file }}" ><br> </tr>
								{% endfor %}
							</tr></tbody>
						</thread>
					</table>
				</div>
				<button type="submit" class="btn btn-danger" id="deleteButton" method="post">Slett markerte</button>
				<form action='/results' method="GET" class="form-search" id="searchForm">
				</div>
				{% else %}
				<div class="starter-template">
					<h1>Ingen filer i mappen</h1>
				</div>
			</div>
			{% endif %}


			{% endblock %}



			<a href="{{ url_for('downloadFunc', file=file_name) }}">{{ file_name }}</a>